---
replicas: 1
image:
  repository: lscr.io/linuxserver/grocy
ports:
  - containerPort: 80
    service: true

service:
  enabled: true

volumeMounts:
  - name: config
    mountPath: /config

volumes:
  - name: config
    mountPvc: true

pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
ingress:
  enabled: true
  authelia: true
  className: nginx
  tls:
    - secretName: local-wildcard-cert
  hosts:
    - host: grocy.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix
