---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: {{ .Release.Namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  sources:
    - repoURL: https://argoproj.github.io/argo-helm
      targetRevision: '>=3.35 <4'
      chart: argo-cd
      helm:
        valueFiles:
        - $values/kubernetes/apps/values.sops.yaml
        - $values/kubernetes/apps/addons/argocd/values.sops.yaml
    - repoURL: git@github.com:afonsoc12/homelab.git
      targetRevision: HEAD
      ref: values

  destination:
    name: {{ .Values.spec.destination.name }}
    namespace: addons
