---
extends: default

ignore:
  - '**/*.sops.y*ml'
  - .venv/
  - tmp/

rules:
  line-length:
    max: 160

  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false

  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
