---
# Default values for external-service.

# Labels applied to all templates
labels:
  host: hoarder

# External server configuration
server:
  ip: "{{ .Values.ips_tailscale.hoarder }}"
  port: 51515

# Ingress configuration
ingress:
  enabled: true
  authelia: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
  tls:
    - secretName: local-wildcard-cert
  hosts:
    - host: kopia.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix
