nameOverride: ""
fullnameOverride: ""
labels: {}
# label_1: abc
# label_2: def
podAnnotations: {}
# annot_1: abc
# annot_2: def
replicas: 1
revisionHistoryLimit: 0
strategy:
    type: Recreate
image:
    repository: koenkk/zigbee2mqtt
    tag: 2.6.1
    pullPolicy: Always
ports:
    - containerPort: 8080
      name: http
      protocol: TCP
      service: true
# Uses ports from .ports section, if service is true
service:
    enabled: true
volumeMounts:
    - name: data
      mountPath: /app/data
    - name: dev
      mountPath: /run/udev
      readOnly: true
    - name: dongle
      mountPath: /dev/ttyACM0
volumes:
    - name: data
      mountPvc: true
    - name: dev
      hostPath:
        path: /run/udev
    - name: dongle
      hostPath:
        path: /dev/serial/by-id/usb-Silicon_Labs_Sonoff_Zigbee_3.0_USB_Dongle_Plus_0001-if00-port0
pvc:
    storageClassName: longhorn-persistent
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 512Mi
ingress:
    enabled: true
    authelia: true
    className: nginx
    annotations: null
    tls:
        - secretName: local-wildcard-cert
    hosts:
        - host: z2m.local.{{ .Values.domain }}
          paths:
            - path: /
              pathType: Prefix
livenessProbe: {}
readinessProbe: {}
resources: {}
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi
podSecurityContext: {}
# fsGroup: 2000
securityContext:
    privileged: true
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000
nodeSelector:
    kubernetes.io/hostname: k3s-m1
tolerations: []
affinity: {}
sops:
    lastmodified: "2026-02-01T14:40:55Z"
    mac: ENC[AES256_GCM,data:eMXlArCxi9bvP+VNOT/YDHUps+nub6IhPPgl8CiV3BuWH0TTXaIktsS72H+OQezqNBqyX1XS/WD0D+mwB2vAhcBabRL6mIJ5rXkItBHo+GWWCwIBMtG1WcvVyiZi31prQDqdQdZDlcByfiQrx3Lsf5dDMZ6p8r673eMKYyN5zJg=,iv:8/oygA8OTyWxlEiiOf9d5RaKO+vHAJiSdgwfwYu2ihc=,tag:QjWkLMLgNGVoPRVAXUXvgA==,type:str]
    pgp:
        - created_at: "2024-07-21T11:19:53Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA5NT/LvuRqeGAQ//Y8ggn0ae0cm7aYRKkcA1ZWPU5IOFf+EtPg/Vi4LLgFaq
            PnO/qnudJ8xfoVaATTtJNixxlurp8R8hLTL1+1CGmPcACIWr1J3h1Fpz9NOJwRyg
            ubp59OLWiM53AiTlyf0MFjWdcbNZZEFhgUWahz4bwYDDP/SFaUHJrS8L7FchhHcn
            /LPCqTAU4NDZDOxcNmevYbprMrx+9jop3DS5mACx5FAiAKC/nQwKTtvBrU/EInY6
            jg6SE8huz7RJRo93FcSJjmZ1WG2nPnXIZS+e9YZWT+YX6dL8awDHWRwo/FVhepGv
            /e4OfCUscgxEcgAPjt+p37gJLUDIzXe//UyRE58c/HXrrUdHiZcVzV2SzJTftX/M
            WblNYyzx54Ddjz+4SaO2eX2aPXROQGAhJnq32UYsq3hlOsxYrPx8BdRnk08K9GGJ
            NXD7YaAo/lr467dvgaLF4kmB2c21bdB5EDE2PTyWuxztA62h3upDOrDEON2Cc0CX
            SzGCEK3eHlYqalvmspsK2GmhPOgJuffRVLrLLYv3g9yV4um+GrYOAyNPqyqVySSd
            VtLqa3j7QbbZJWYgxaaa6+ubn5zynZ+2T87n8ahVtrAV8NyMCmrPA915RIKw3ZER
            iRe4o5Vfj6i8MBfXm/Lj4j/CWUDAJ2vTxhevEJP3kMNRMMKOr00cKSdgQ2W9hTbU
            aAEJAhBtR8wkja0L7HnxpbClTGOR6HjtATOK3K05vLkEDfOOUMUz+ueKGwSsixJh
            9aZJwGeOX4OLcEwU4r1eZ9xzjrxanOlhDtxvNA90cP+WiTdpIdJ6uyRkfVUxNikU
            n057TkKe2ht7
            =+PA1
            -----END PGP MESSAGE-----
          fp: 47E4999BED565F9874AA0E7C05DA03D000FC10D1
    encrypted_regex: ^(data|stringData|loadBalancerIP|nginx.ingress.kubernetes.io/auth-signin)$
    version: 3.11.0
