---
replicas: 1
revisionHistoryLimit: 0
strategy:
  type: Recreate

image:
  repository: nodered/node-red
  tag: latest
  pullPolicy: Always

hostNetwork: true

ports:
  - containerPort: 1880
    name: http
    protocol: TCP
    service: true

# Uses ports from .ports section, if service is true
service:
  enabled: true

volumeMounts:
  - name: data
    mountPath: /data

volumes:
  - name: data
    mountPvc: true
# - name: ssh-keys
#   secret:
#     defaultMode: 256
#     secretName: ssh-keys-secret

pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi

ingress:
  enabled: true
  authelia: true
  className: "nginx"
  tls:
    - secretName: local-wildcard-cert
  # Will assume the first element in .ports, regardless of service
  hosts:
    - host: node-red.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix

podSecurityContext:
  fsGroup: 1000

nodeSelector:
  kubernetes.io/hostname: k3s-m1

tolerations: []

affinity: {}
