---
# +docs:section=Global
# Default values for cert-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
    rbac:
        # Create required ClusterRoles and ClusterRoleBindings for cert-manager.
        create: true
        # Aggregate ClusterRoles to Kubernetes default user-facing roles. For more information, see
        # [User-facing roles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles)
        aggregateClusterRoles: true
    # Set the verbosity of cert-manager. A range of 0 - 6, with 6 being the most verbose.
    logLevel: 2
crds:
    # This option decides if the CRDs should be installed
    # as part of the Helm installation.
    enabled: true
