---
replicas: 1
revisionHistoryLimit: 0
strategy:
  type: Recreate
image:
  repository: docuseal/docuseal
  tag: latest
  pullPolicy: Always
#   restartPolicy:
command: {}
args: {}
ports:
  - containerPort: 3000
    name: http
    protocol: TCP
    service: true
# Uses ports from .ports section, if service is true
service:
  enabled: true
volumeMounts:
  - mountPath: /data
    name: data
volumes:
  - name: data
    mountPvc: "yes"
pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
ingress:
  enabled: true
  authelia: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/client-max-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  tls:
    - secretName: local-wildcard-cert
  # Will assume the first element in .ports, regardless of service
  hosts:
    - host: sign.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
limits:
  cpu: 100m
  memory: 128Mi
requests:
  cpu: 100m
  memory: 128Mi
