---
replicas: 1
revisionHistoryLimit: 0

image:
  repository: rhasspy/wyoming-whisper
  tag: latest
  pullPolicy: Always

args:
  - --model=tiny-int8
  - --language=en
  - --data-dir=/tmp

ports:
  - containerPort: 10300
    name: http
    protocol: TCP
    service: true

# Uses ports from .ports section, if service is true
service:
  enabled: true

podSecurityContext: {}

securityContext: {}

tolerations: []

affinity: {}
