---
replicas: 1
revisionHistoryLimit: 0

image:
  repository: rhasspy/wyoming-piper
  tag: latest
  pullPolicy: Always

args: ["--voice", "en_GB-cori-medium"]

ports:
  - containerPort: 10200
    name: http
    protocol: TCP
    service: true

# Uses ports from .ports section, if service is true
service:
  enabled: true

podSecurityContext: {}

securityContext: {}

tolerations: []

affinity: {}
