---
nameOverride: ""
fullnameOverride: ""

replicas: 1
revisionHistoryLimit: 0
strategy:
  type: Recreate

image:
  repository: ghcr.io/dgtlmoon/changedetection.io
  tag: latest
  pullPolicy: Always

#   restartPolicy:

command: {}

args: {}

ports:
  - containerPort: 5000
    name: http
    protocol: TCP
    service: true

additionalContainers:
  - name: playwright
    image: browserless/chrome:latest

# Uses ports from .ports section, if service is true
service:
  enabled: true

configmap:
  mountEnv: true
  data:
    BASE_URL: changedetection.local.{{ .Values.domain }}
    FETCH_WORKERS: 8
    USE_X_SETTINGS: 1

volumeMounts:
  - mountPath: /datastore
    name: data

volumes:
  - name: data
    mountPvc: true

pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi

ingress:
  enabled: true
  authelia: true
  className: "nginx"

  tls:
    - secretName: local-wildcard-cert

  # Will assume the first element in .ports, regardless of service
  hosts:
    - host: changedetection.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix


livenessProbe: {}

readinessProbe: {}

resources: {}

podSecurityContext: {}

securityContext: {}
