{{- if .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "homelab-svc.fullname" . }}
  labels:
    {{- include "homelab-svc.labels" . | nindent 4 }}
    {{- if and .Values.serviceMonitor.enabled (not .Values.serviceMonitor.create) }}
    prometheus.io/scrape: "true"
    {{- end }}
  annotations:
  {{- with .Values.service.annotations }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  ports:
    {{- range .Values.ports }}
    {{- if .service }}
    - port: {{ default .containerPort $.Values.service.port }}
      targetPort: {{ .containerPort }}
      {{- if .nodePort }}
      nodePort: {{ .nodePort }}
      {{- end }}
      {{- if .name }}
      name: {{ .name }}
      {{- end }}
      protocol: {{ .protocol | default "TCP" }}
    {{- end }}
    {{- end }}
  selector:
    {{- include "homelab-svc.selectorLabels" . | nindent 4 }}
{{- end }}
