---
replicas: 1
revisionHistoryLimit: 0
strategy:
  type: Recreate

image:
  repository: homeassistant/home-assistant
  tag: 2026.2
  pullPolicy: Always

hostNetwork: true

ports:
  - containerPort: 8123
    name: http
    protocol: TCP
    service: true

# Uses ports from .ports section, if service is true
service:
  enabled: true

volumeMounts:
  - name: config
    mountPath: "/config"

volumes:
  - name: config
    mountPvc: true

pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

ingress:
  enabled: true
  authelia: true
  className: "nginx"
  tls:
    - secretName: home-cert

  # Will assume the first element in .ports, regardless of service
  hosts:
    - host: home.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix

nodeSelector:
  kubernetes.io/hostname: k3s-m1

tolerations: []

affinity: {}
