[core]
simple_auth_manager_all_admins = True
secret_key = homelab-airflow-dev-secret-key-change-in-prod

[api_auth]
jwt_secret = homelab-airflow-dev-jwt-secret-change-in-prod

[database]
sql_alchemy_conn = sqlite:////data/airflow.db

[webserver]
expose_config = True

[logging]
base_log_folder = /data/logs
dag_processor_manager_log_location = /data/logs/dag_processor
dag_processor_child_process_log_directory = /data/logs/dag_processor
# logging_level = DEBUG
# fab_logging_level = WARNING

[secrets]
backend = airflow.secrets.local_filesystem.LocalFilesystemBackend
backend_kwargs = {"variables_file_path": "/var/run/secrets/airflow/variables.yaml", "connections_file_path": "/var/run/secrets/airflow/connections.yaml"}
