---
replicas: 1
revisionHistoryLimit: 0
strategy:
  type: Recreate

image:
  repository: esphome/esphome
  tag: latest
  pullPolicy: Always

hostNetwork: true

ports:
  - containerPort: 6052
    name: http
    protocol: TCP
    service: true

# Uses ports from .ports section, if service is true
service:
  enabled: true

volumeMounts:
  - name: config
    mountPath: /config
  - name: esphome-emptydir
    mountPath: /config/.esphome

volumes:
  - name: config
    persistentVolumeClaim:
      claimName: esphome-pvc
  - name: esphome-emptydir
    emptyDir:
      sizeLimit: 10Gi

pvc:
  storageClassName: longhorn-persistent
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

ingress:
  enabled: true
  authelia: true
  className: "nginx"
  tls:
    - secretName: local-wildcard-cert
  # Will assume the first element in .ports, regardless of service
  hosts:
    - host: esphome.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix

securityContext:
  privileged: true

nodeSelector:
  kubernetes.io/hostname: k3s-m1

tolerations: []

affinity: {}
