[defaults]
stdout_callback = ansible.builtin.default
result_format = yaml
inventory = inventory/hosts.yaml
roles_path = roles:~/.local/share/ansible/roles
vars_plugins_enabled = host_group_vars,community.sops.sops
host_key_checking = False
interpreter_python = auto_silent
