---
# Default values for external-service.

# Labels applied to all templates
labels:
  host: hoarder

# External server configuration
server:
  ip: "{{ .Values.ips_tailscale.hoarder }}"
  port: 5055

# Ingress configuration
ingress:
  enabled: true
  authelia: true
  tls:
    - secretName: seerr-cert
  hosts:
    - host: seerr.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix
