---
# Default values for external-service.

# Labels applied to all templates
labels:
  host: unifi

# External server configuration
server:
  ip: "{{ .Values.ips.unifi }}"
  port: 443

# Ingress configuration
ingress:
  enabled: true
  authelia: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
  tls:
    - secretName: local-wildcard-cert
  hosts:
    - host: unifi.local.{{ .Values.domain }}
      paths:
        - path: /
          pathType: Prefix
